.schedules_container {
  display: flex;
  gap: 12px;
  padding: 0.8rem;
  margin-left: 458px;
}

.Todays_event {
  display: flex;
  gap: 12px;
}

.Upcoming_events {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.date {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.Schedules_arrowbox {
    height: 60px;
    width: 30px;
    border-radius: 10px;
    background-color: #101317;
    margin-left: 7px;
}

.Schedules_arrow {
    margin-left: 11px;
    margin-top: 20px;
}